In [1]:
## import (and install if necessary) pandas
%pip install pandas
import pandas as pd
from datetime import datetime

Requirement already satisfied: pandas in ./.venv/lib/python3.11/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in ./.venv/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv("full_data.csv"
                 ,parse_dates=['TripDate','StartDateTime','EndDateTime','CustomerBirthDate']
                 )
## process cost monetary data
df['Cost'] = df['Cost'].str.replace(',', '')
df['Cost'] = df['Cost'].str.replace('$', '')
df['Cost'] = df['Cost'].str.replace('(', '')
df['Cost'] = df['Cost'].str.replace(')', '')
df['Cost'] = df['Cost'].astype(float)
print(df.info())
print(df.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1160755 entries, 0 to 1160754
Data columns (total 14 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   CustomerID         1160755 non-null  int64
 1   CustomerSex        1160755 non-null  object
 2   CustomerBirthDate  1160417 non-null  datetime64[ns]
 3   TripDate           1160755 non-null  datetime64[ns]
 4   VehicleID          1160755 non-null  int64
 5   RunActualID        1160755 non-null  int64
 6   StartDateTime      1160755 non-null  datetime64[ns]
 7   EndDateTime        1160755 non-null  datetime64[ns]
 8   PickupX            1110755 non-null  float64
 9   PickupY            1110755 non-null  float64
 10  DropoffX           1109028 non-null  float64
 11  DropoffY           1109028 non-null  float64
 12  Cost               1160538 non-null  float64
 13  CollectedFareType  1147941 non-null  object
dtypes: datetime64[ns](4), float64(5), int64(3), object(2)
memory usage: 124.0+ MB
None
   CustomerID CustomerSex CustomerBirthDate   TripDate  VehicleID  \
0       68809           M        1972-10-02 2019-01-01       1832
1       56045           F        1957-10-25 2019-01-01       1803
2       54784           F        1965-06-04 2019-01-01       1938
3      126788           F        1966-01-22 2019-01-01       1765
4      104367           F        1948-11-15 2019-01-01       1614

   RunActualID       StartDateTime         EndDateTime     PickupX    PickupY  \
0      2470597 2019-01-01 00:44:15 2019-01-01 01:35:22 -105.193555  39.723181
1      2470981 2019-01-01 01:28:00 2019-01-01 02:22:00 -105.057501  39.812276
2      2471406 2019-01-01 03:55:39 2019-01-01 04:15:09 -104.861764  39.700196
3      2471003 2019-01-01 04:08:00 2019-01-01 05:22:34 -104.885841  39.738328
4      2471212 2019-01-01 04:08:03 2019-01-01 04:29:20 -104.973234  39.854648

     DropoffX   DropoffY  Cost CollectedFareType
0 -104.807529  39.640781   0.0           No Fare
1 -105.032882  39.638608   0.0           No Fare
2 -104.819509  39.724502   0.0           No Fare
3 -104.988462  39.577327   0.0            Ticket
4 -105.022485  39.849138   0.0            Ticket

In [19]:
## summary counts
runActualID_counts = df.groupby(['RunActualID'])['RunActualID'].count()
print(f"Maximum Number of rows per RunActualID: {runActualID_counts.max()}")
runActualID_vehicleID = df.groupby('RunActualID')['VehicleID'].nunique()
runActualIDs_more_than_one_vehicleID = runActualID_vehicleID[runActualID_vehicleID != 1]
print(f"Any RunActualIDs that have more than one VehicleID: {runActualIDs_more_than_one_vehicleID.nunique()}")
print(f"Unique number of RunActualIDs: {df['RunActualID'].nunique()}")
print(f"Unique number of CustomerIDs: {df['CustomerID'].nunique()}")
print(f"Unique number of VehicleIDs: {df['VehicleID'].nunique()}")

Maximum Number of rows per RunActualID: 18
Any RunActualIDs that have more than one VehicleID: 0
Unique number of RunActualIDs: 213272
Unique number of CustomerIDs: 10215
Unique number of VehicleIDs: 538

In [4]:
dates_per_runactualIDs = df.groupby(['RunActualID']).agg({'EndDateTime': 'max', 'StartDateTime':'min'})
dates_per_runactualIDs['EndDate'] = pd.to_datetime(dates_per_runactualIDs['EndDateTime'].dt.date)
dates_per_runactualIDs['StartDate'] = pd.to_datetime(dates_per_runactualIDs['StartDateTime'].dt.date)
dates_per_runactualIDs['diff'] = (dates_per_runactualIDs['EndDateTime'] - dates_per_runactualIDs['StartDateTime']).dt.total_seconds()
seconds_in_day = 86400
runactualIDs_over_day = dates_per_runactualIDs[dates_per_runactualIDs['diff'] > seconds_in_day]
#print(runactualIDs_over_day['RunActualId'].nunique())

print(f"""Number of RunActualIDs lasting over 24 hours: {runactualIDs_over_day.index.nunique()}
(Calculated by subtracting EndDateTime from StartDateTime)
Saving outlier RunActualIDs to `runactualIDs_over_day.csv""")
runactualIDs_over_day.to_csv("runactualIDs_over_day.csv", columns = ['StartDateTime','EndDateTime'])

Number of RunActualIDs lasting over 24 hours: 4
(Calculated by subtracting EndDateTime from StartDateTime)
Saving outlier RunActualIDs to `runactualIDs_over_day.csv

         CustomerID CustomerSex CustomerBirthDate   TripDate  VehicleID  \
0             68809           M        1972-10-02 2019-01-01       1832
1             56045           F        1957-10-25 2019-01-01       1803
2             54784           F        1965-06-04 2019-01-01       1938
3            126788           F        1966-01-22 2019-01-01       1765
4            104367           F        1948-11-15 2019-01-01       1614
...             ...         ...               ...        ...        ...
1160750       94977           F        1960-09-23 2021-06-30       1803
1160751       57195           F        1941-03-23 2021-06-30       1936
1160752       92775           F        1956-08-22 2021-06-30       1803
1160753       81412           F        1951-03-21 2021-06-30       1936
1160754      120015           F        1962-08-01 2021-06-30       1803

         RunActualID       StartDateTime         EndDateTime     PickupX  \
0            2470597 2019-01-01 00:44:15 2019-01-01 01:35:22 -105.193555
1            2470981 2019-01-01 01:28:00 2019-01-01 02:22:00 -105.057501
2            2471406 2019-01-01 03:55:39 2019-01-01 04:15:09 -104.861764
3            2471003 2019-01-01 04:08:00 2019-01-01 05:22:34 -104.885841
4            2471212 2019-01-01 04:08:03 2019-01-01 04:29:20 -104.973234
...              ...                 ...                 ...         ...
1160750      3037105 2021-06-30 21:55:14 2021-06-30 22:04:18 -104.831138
1160751      3037416 2021-06-30 22:28:38 2021-06-30 22:59:15 -104.831138
1160752      3037105 2021-06-30 22:56:11 2021-06-30 23:12:27 -104.703063
1160753      3037416 2021-06-30 23:19:27 2021-06-30 23:36:38 -104.828043
1160754      3037105 2021-07-01 00:42:42 2021-07-01 01:16:50 -104.987340

           PickupY    DropoffX   DropoffY  Cost CollectedFareType
0        39.723181 -104.807529  39.640781   0.0           No Fare
1        39.812276 -105.032882  39.638608   0.0           No Fare
2        39.700196 -104.819509  39.724502   0.0           No Fare
3        39.738328 -104.988462  39.577327   0.0            Ticket
4        39.854648 -105.022485  39.849138   0.0            Ticket
...            ...         ...        ...   ...               ...
1160750  39.691048 -104.873978  39.683852   5.0            Ticket
1160751  39.691048 -104.875871  39.701931   5.0            Ticket
1160752  39.604657 -104.756263  39.670029   5.0              Cash
1160753  39.731850 -104.820851  39.756246   5.0            Ticket
1160754  39.824814 -104.856797  39.696640   5.0            Ticket

[1160755 rows x 14 columns]